/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.navbar-inverse .navbar-nav > li > a {
    font-family: Helvetica;
    font-weight: bolder;
}
      .image{
        opacity: 1;
        display: block;
        height: 100%;
        width: 100%;
        transition: .5s ease;
        backface-visibility: hidden;
      }
      .middle{
        transition: .5s ease;
        opacity: 0;
        width: 110px;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #4caf50;
        padding-left: 10px;text-align: center;
        padding-right: 10px;
      }
      .middle h5{

        opacity: 1;
        color: white;
        font-size: 15px;
        letter-spacing: 1.5px;
        font-weight: bold;
        font-style: roboto;
        text-decoration: none;
      }
      .middle h5 a{
        text-decoration: none;
        color: white;
      }
      .ea:hover .image{
        opacity: 0.3;
      }
      .ea:hover .middle{
        opacity: 1;
      }
      .middle2{
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 40%;
        width: 110px;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #4caf50;
        padding-left: 10px;text-align: center;
        padding-right: 10px;
      }
      .middle2 h5{

        opacity: 1;
        color: white;
        font-size: 15px;
        letter-spacing: 1.5px;
        font-weight: bold;
        font-style: roboto;
        text-decoration: none;
      }
      .middle2 h5 a{
        text-decoration: none;
        color: white;
      }
      .ea:hover .middle2{
        opacity: 1;
      }
      .middle3{
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        width: 110px;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #4caf50;
        padding-left: 10px;text-align: center;
        padding-right: 10px;
      }
      .middle3 h5{

        opacity: 1;
        color: white;
        font-size: 15px;
        letter-spacing: 1.5px;
        font-weight: bold;
        font-style: roboto;
        text-decoration: none;
      }
      .middle3 h5 a{
        text-decoration: none;
        color: white;
      }
      .ea:hover .middle3{
        opacity: 1;
      }
.container-fluid{
    margin-top: 0;
}
.navbar-inverse{
    border-color: transparent;
    background-color: transparent;
}
.navbar-inverse .navbar-nav > li > a{
    color: white;
    margin-left: 18px;
}
.navbar-inverse .navbar-nav > li > a:hover{
    color: red;
    border-bottom: 2px solid red;
    transition: 0.3s;
}
.navbar-inverse .navbar-brand{
    color: white;
}
@media (min-width: 768px){
.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    margin-right: 0;
    margin-left: 100PX;
}
@media (min-width: 768px){
.navbar-right {
    float: right !important;
    margin-right: 100px;
}}
.navbar-nav > li > a {
    font-size:15px;
    font-family: roboto;
}
.navbar-inverse .navbar-toggle {
    border-color: transparent;
}

.navbar-inverse .navbar-toggle:hover {
    background-color: transparent;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: transparent;
}

@media (max-width: 768px){
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #101010;
    background-color: red;
}}
@media (min-width: 768px){
  .fix{
    background-color: #3a3f46 !important;
    color: white;
}
}
.fix{
    background-color: #3a3f46 !important;
    color: white;
}
.fix2{
  background-color: #f1f5f9 !important;
  color: black;
}
.fix3{
  background-color: #3a3f46 !important;
  color: white;
}
.aa{
  color: white !important;
}
.aaaa{
  color: black !important ;
}
.bbbb{
  color: white !important;
}
.jarak{
    margin-top: 80px;
}
.jarak-kecil{
  margin-top:10px;
  margin-bottom: 10px;
}
h2,.h2{
    font-size: 30px;
    color: #444;
}
 h5,.h5{
    color: #444;
 }
 @media (max-width: 300px) {
  .carosel-item {
    width: 100%;
  }
}
@media (min-width: 300px) {
  .carosel-item {
    width: 50%;
  }
}
@media (min-width: 500px) {
  .carosel-item {
    width: 33.333%;
  }
}
@media (min-width: 768px) {
  .carosel-item {
    width: 33%;
  }
}
.carosel {
  position: relative;
}
.carosel-inner {
  white-space: nowrap;
  overflow: hidden;
  font-size: 0;
}
.carosel-item {
  display: inline-block;
}
.carosel-control {
  position: absolute;
  top: 50%;
  padding: 15px;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.5);
  transform: translateY(-50%);
  border-radius: 50%;
  color: rgba(0, 0, 0, 0.5);
  font-size: 30px;
  display: inline-block;
}
.carosel-control-left {
  left: 15px;
}
.carosel-control-right {
  right: 15px;
}
.carosel-control:active,
.carosel-control:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}
.jumbotron{
  margin-bottom: 0px;
}
.warna-putih{
  color:white;
}
.a{
 list-style: none;
 color: #b5d1d1;
 text-decoration: none;
}
.ea{
  font-size: 22px;
    color: rgb(159, 163, 169);
    line-height: 68px;
    padding: 10px;
    transition: 0.2s;
    text-decoration: none;
}
.ae{
  margin-top: 0px;
}
.at{
  text-decoration:none;
}
.a-twitter{

}
 .a-twitter:hover{
  color: white;
 }